*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #ffcc00;
    display: grid;
    margin: 0 auto;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto auto auto;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.o-header{
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    margin: 0;
}
.o-main{
    background: #ffcc00;
    grid-area: main;
    text-align: center;
    margin: auto;
}
.o-footer {
    grid-area: footer;
    background: #000;
    padding: 30px 30px 0 30px;
}
.o-header{
    background: #1a5dac;
}
.o-aside{
    background: #ECF1F3;
    color: #fdfdfd
}
.content-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-1 img{
    width: 50%;
}
.right{
    display: flex;
    align-items: center;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.logo{
    display: block;
    width: 50%;
    padding: 0.2rem;
}
img.gif-pikachu{
    width: 15%;
    display: block;
}
.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links a {
    font-size: 25px;
    color: #ffca4b;
    transition: all ease-in 0.2s;
}
.social-links a:hover {
    color: #ffffff;
}
.social-links li {
    margin-left: 20px;
}
.links-extras{
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.links-extras a{
    color: #000;
    text-decoration: none;
    transition: all ease-in 0.2s;
}
.links-extras a:hover{
    color: #ffffff;
}
.links-extras li {
    margin-left: 14px;
}
.content-2 {
    width: 100%;
    padding: 15px 0;
    background: #000;
}
.conteudo {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header .content-2 nav ul li {
    border-right: solid 1px  #ffca4b;;
}

header .content-2 nav ul li:last-child {
    border-right: none;
}

header .content-2 nav a {
    color: #ffca4b;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all ease 0.2s;
}
.busca input{
    background-image: url("../img/lupinha.png");
    background-repeat: no-repeat;
    background-position: 96%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 3px solid #ffca4b;
}
.pokemons .model{
    border-radius: 8px;
    background: linear-gradient(-45deg, white, gray);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    text-align: center;
    padding: 15px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.model h2{
    margin: 10px 0;
    text-transform: capitalize;
}
.model .botao img {
    width: 22px;
    margin-right: 8px;
}
.price-from {
    text-decoration: line-through;
    font-size: 16px;
    color: #000;
    margin-top: 0;
    margin-bottom: 5px;
}

.price-to {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
}
button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #1a5dac;
    color: #FFF;
    padding: 0.2em 0.6em;
    border: 0.1rem solid #000;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
}
button.botao:hover {
    color: #000;
    background: #1a5dac;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}
button.botao::after {
    content: "";
    background: #DDAA00;
    position: absolute;
    z-index: -1;
    padding: 0.2em 0.6em;
    display: block;
    transition: all 0.5s ease;
  }
button.botao::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
  }
  button.botao:hover::after {
    transform: skewX(-45deg) scale(1, 1);
  }
 button.botao img {
    width: 2px;
    margin-right: 8px;
  }
section.principal {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.pokemons .model img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.pokemons .model:hover img.poke{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
.pokemons{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}
.principal .column{
    display: flex;
    flex-direction: column;
}
.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination button {
    width: 20%;
    cursor: pointer;
    padding: 10px 20px;
}
.container{
    padding-left: 30px;
}
.top3dasemana{
    width: 90%;
}
.top3{
    background: #FFF;
}
.top3-aside li:hover{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}
.top3 li {
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #EEE;
    transition: all ease 0.3s;
    cursor: pointer;
}
.top3 li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}
.top3 .poke-img {
    width: 50px;
    margin: 0 8px;
}
.top3 span {
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s;
}
.top3 li:hover {
    background-color: #EEE;
}
.promocao{
    border-radius: 8px;
    display: block;
    margin-top: 30px;
    height: 250px;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../img/giphy.gif");
    background-size: cover;
    background-position: center center;
}
img.mewtwo{
    display: block;
    margin: auto;
    width: 12rem;
}
img.prom{
    display: block;
    margin: auto;
}
.newsletter {
    margin-top: 30px;
    padding: 30px 10px;
    background: #EEE;
}
.newsletter h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    margin-bottom: 1rem;
}
.newsletter input {
    padding: 10px;
    border: 0;
    width: 100%;
}
.btn-form {
    padding: 10px;
    width: 100%;
    background: #000;
    color: #FFF;
    margin-top: 15px;
    cursor: pointer;
}
section.formulario {
    border-radius: 8px;
    background: #EEE;
    color: black;
    padding: 1rem;
    text-align: center;
    margin-top: 30px;
}
fieldset {
    border: 0;
}
input[type="text"]{
    padding: 10px;
}
.campo label {
    padding: 0.5rem;
    color: #1a5dac;
    display: block;
}
.botao-game{
    margin-top: 1rem;
}
.conteudo-footer{
    color: #ffffff;
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.social-footer a{
    color: #ffffff;
}
footer .footer-nav{
    display: block;
    text-transform:capitalize;
}
footer .footer-nav li {
    margin-bottom: 10px;
}
footer .footer-nav a {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}
.top3-footer{
    background: #000;
    color: #fff;
}
.frase-rodape{
    color: #FFF;
}
footer .frase-rodape {
    background: #000;
    text-align: center;
    margin-top: 30px;
    color: #FFF;
    padding: 20px 0;
}

body.carrinho-aberto .sidebar{
    box-shadow: -4px 5px 12px 2px rgba(0,0,0,0.62);
    right: 0;
}

.sidebar{
    z-index: 200;
    transition: all ease-in .3s;
    padding: 15px;
    width: 300px;
    height: 100vh;
    background-color: white;
    border-radius: 8px;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sidebar button{
    width: 15%;
    color: black;
    background: transparent;
    border: 0;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.sidebar h4{
    font-size: 20px;
    margin: 0;
}
.fecha-menu{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    right: 0;
}
.isClose{
    display: none;
}

@media screen and (max-width: 1200px) {
    .content-1 {
        width: 100%;
    }
    section.principal {
        display: flex;
        justify-content: space-around;
        padding: 30px 30px;
    }
    .pokemons {
        width: 65%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container {
        padding-left: 30px;
        width: 35%;
    }
}


@media (max-width: 768px){
    body{
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "header" "main" "footer"
    }
    .content-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }
    .o-header .content-1{
        display: block;
    }
    .left{
        display: block;
    }
    .links-extras {
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        position: absolute;
        top: 20px;
        right: 15px;
    }
    .busca input{
        width: 96%;
    }
    .conteudo {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        overflow-x: scroll;
    }
    header .content-2 nav ul li {
        border-right: solid 1px #ffca4b;
        white-space: nowrap;
    }
    .content-1 img {
        width: 45%;
    }
    header.o-header .logo{
        margin-left: 1rem;
    }
    .content-2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navegacao{
        padding: 0.5rem;
    }
    .navegacao ul{
        display: flex;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 3px 20px;
    }
    section.principal {
        display: flex;
        justify-content: space-around;
        padding: 10px 10px;
    }
    .pokemons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
        width: 100%;
        gap: 1%;
    }
    .pokemons .model {
        background-color: #e4e4e4;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem;
        height: auto;
        width: auto;
        border: 2px solid #000;
    }
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 100%;
        margin-bottom: 2rem;
        padding-left: 0;
    }
    .container .top3 {
        padding: 1em;
        width: 100%;
        margin-top: 30px;
    }
    .promocao{
        margin: 30px;
    }
    .campo label {
        color: #ffca4b;
        display: block;
        padding: 0.5rem;
    }
    .conteudo-footer {
        color: #ffffff;
        margin: auto;
        width: 100%; 
        display: block;
    }
    .top3-footer {
        background: #000;
        color: #fff;
        margin: 2rem;
    }
    footer .frase-rodape {
        background: #000;
        text-align: center;
        margin-top: 30px;
        color: #FFF;
        padding: 0; 
    }
}
