*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background: #ffca4b;
    display: grid;
    margin: 0 auto;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto auto auto;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.o-header{
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    margin: 0;
}
.o-main{
    background: #ffca4b;
    grid-area: main;
    text-align: center;
    margin: auto;
}
.o-footer{
    grid-area: footer;
    background: #000;
    padding-top: 30px;
}
.o-header{
    background: #1a5dac;
}
.o-aside{
    background: #ECF1F3;
    color: #fdfdfd
}
.content-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-1 img{
    width: 70%;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links a {
    font-size: 25px;
    color: #ffca4b;
    transition: all ease-in 0.2s;
}
.social-links a:hover {
    color: #ffffff;
}
.social-links li {
    margin-left: 20px;
}
.links-extras{
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.links-extras a{
    color: #000;
    text-decoration: none;
}
.links-extras li {
    margin-left: 14px;
}
.content-2 {
    width: 100%;
    padding: 15px 0;
    background: #000;
}
.conteudo {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header .content-2 nav ul li {
    border-right: solid 1px  #ffca4b;;
}

header .content-2 nav ul li:last-child {
    border-right: none;
}

header .content-2 nav a {
    color: #ffca4b;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all ease 0.2s;
}
.busca input{
    background-image: url("../img/lupinha.png");
    background-repeat: no-repeat;
    background-position: 96%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 3px solid #ffca4b;
}
.pokemons .model{
    background-color: #e4e4e4;
    transition: all ease 0.3s;
    text-align: center;
    padding: 10px;
    border: solid 1px #DDD;
    transition: all ease 0.3s;
}
.pokemons .model:hover{
    background-color: #EEE;

}
.model p{
    padding: 10px;
}
.botao {
    font-size: 1.2em;
    background: #30e422;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}
.botao:hover {
    background: #1a5dac;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}
section.principal {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.pokemons img{
    max-width: 100%;
    border: 1px solid #000;
}
.pokemons{
        width: 75%;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container{
    padding-left: 30px;
    width: 25%;
}
.top3dasemana{
    width: 90%;
}
.top3{
    background: #FFF;
}
.top3 li {
    counter-increment: li;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #EEE;
    transition: all ease 0.3s;
    cursor: pointer;
}
.top3 li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}
.top3 .poke-img {
    width: 50px;
    margin: 0 8px;
}
.top3 span {
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s;
}
.top3 li:hover {
    background-color: #EEE;

}
.promocao{
    display: block;
    margin-top: 30px;
    height: 250px;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../img/mewtwoooo.jpg");
    background-size: cover;
    background-position: center center;
}
img.mewtwo{
    width: 11rem;
}
img.prom{
    margin-top: 0.5rem;
    
}
.newsletter {
    margin-top: 30px;
    padding: 30px 10px;
    background: #EEE;
}
.newsletter h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    margin-bottom: 1rem;
}
.newsletter input {
    padding: 10px;
    border: 0;
    width: 100%;
}
.newsletter button {
    border: 0;
    padding: 10px;
    width: 100%;
    background: #000;
    color: #FFF;
    margin-top: 15px;
    cursor: pointer;
}
.newsletter button:hover {
    background: #1a5dac;
}
section.formulario {
    background: #1a5dac;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    margin-top: 30px;
}
fieldset {
    border: 0;
}
input[type="text"]{
    padding: 10px;
}
.campo label {
    margin-bottom: 0.2rem;
    color: #ffca4b;
    display: block;
}
.botao-game{
    margin-top: 1rem;
}
.conteudo-footer{
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
footer .footer-nav{
    display: block;
    text-transform:capitalize;
}
footer .footer-nav li {
    margin-bottom: 10px;
}
footer .footer-nav a {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}
.top3-footer{
    background: #000;
    color: #fff;
}
.frase-rodape{
    color: #FFF;
}
footer .frase-rodape {
    background: #000;
    text-align: center;
    margin-top: 30px;
    color: #FFF;
    padding: 20px 0;
}

@media (max-width: 720px){
    body{
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "header" "main" "footer"
    }
    .content-1 img {
        width: 90%;
    }
    .redes-sociais{
        margin-right: 1rem;
    }
    header.o-header .logo{
        margin-left: 1rem;
    }
    .content-2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navegacao{
        padding: 0.5rem;
    }
    .navegacao ul{
        display: flex;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 3px 20px;
    }
    .o-main{
        width: 100%;
    }
    .pokemons{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto auto;
        place-items: center;
        width: 100%;
    }
    img.poke{
        height: auto;
        width: 90%;
        border: 1px solid #000;
    }
    .pokemons .model {
        background-color: #e4e4e4;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem;
        height: auto;
        width: auto;
        border: 2px solid #000;
    }
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 70%;
        margin-bottom: 2rem;
    }
    .container .top3{
        padding: 1em;
        width: 90%;
    }
    img.pok{
         width: 35%;
         height: auto;
    }
    .promocao{
        margin: 1rem;
        width: 90%;
    }
    footer.o-footer .content-1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer.o-footer .redes-sociais{
        padding-left: 50%;
        padding-top: 1rem;
    }
    fieldset.formulario {
    width: 60%;
    }
    .frase-rodape{
        padding: 0.5rem;
    }
}
